html{
    height: 100%;
}
body{
  margin: 0;
  height: 100%;
  font: 14px 'Aven-Regular', sans-serif;
  color: #000;
}
nav, header, footer, button, time, article, aside, section, main, time{
  display: block;
}

*, *:after, *:before{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}
a{
	text-decoration: none;
	-webkit-transition:all .1s linear; 
      -moz-transition: all .1s linear;
       -ms-transition: all .1s linear;
    	-o-transition: all .1s linear;
           transition: all .1s linear;
}
a:focus{
	outline: none;
}
h2{
  font: 26px/20px 'Aven-Regular', sans-serif !important;
  color: #000 !important;
  margin: 25px 0 20px !important;
  font-weight: 400 !important;
  text-align: center;
}
h4{
  font: 14px/20px 'Aven-Regular', sans-serif !important;
  color: #777777 !important;
  margin: 25px 0 20px !important;
  font-weight: 400 !important;
  text-align: center;
  text-transform: uppercase;
}
.title{
	text-align: center;
}
.wrapper{
	position: relative;
	overflow: hidden;
}
header{
	width: 100%;
}
header.index-header{
	position: absolute;
	display: block;
	z-index: 4;
	top: 0;
	left:0;
	right: 0;
	height: 120px;
}
.content{
	max-width: 1180px;
	margin: 0 auto;
}
.top-header{
	max-width: 1570px;
	margin: 0 auto;
	overflow: hidden;
	padding: 55px 0 20px;
}
.logo{
	float: left;
	display: block;
}
.logo img{
	display: block;
	width: 197px;
}
.top-header nav{
	float: right;
	width: auto;
}
.min-menu{
	display: none;
	position: absolute;
	/*z-index: 5;*/
	right: 10px;
	top: -80px;
	width: 44px;
	height: 34px;
	padding: 2px 0;
	text-align: center;
	background: rgba(255,255,255,0);
	border: 1px solid #fff;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
	cursor: pointer;
	-webkit-transition:all .2s linear; 
      -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
    	-o-transition: all .2s linear;
           transition: all .2s linear;
}
.min-menu:hover{
	background: rgba(225,225,225,1);
	border: 1px solid #02437d;
}
.min-menu i{
	line-height: 28px;
	color:#fff;
	-webkit-transition:all .2s linear; 
      -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
    	-o-transition: all .2s linear;
           transition: all .2s linear;
}
.min-menu:hover i{
	color:#02437d;	
}
.navigation{
	list-style: none;
	margin:0px;
	padding: 11px 0px;
}
.navigation li{
	display: inline-block;
	vertical-align: top;
}
.navigation li a{
	display: block;
	text-align: center;
	padding: 0 15px;
	margin: 0;
	color:#fff;
	font: 13px/20px 'Aven-Regular', sans-serif;
}
.navigation li a:hover{
	text-decoration: underline;
	outline: none;
}
.login-register{
	float: right;
	text-align: right;
	padding: 11px 0;
	margin-left: 100px;
}
.login-register a{
	display: inline-block;
	vertical-align: top;
	padding: 0 25px;
	color:#fff;
	font: 13px/20px 'Aven-Regular', sans-serif;
}
.login-register a:hover{
	text-decoration: underline;
	color:#fff;
}
.login-register a:focus{
	color:#fff;
}
.login-register a + a{
	position: relative;
}
.login-register a + a:after{
	position: absolute;
	display: block;
	top: 0;
	left:-1px;
	content: '|';
}
.main{
	width: 100%;
	background: #025c90;
	min-height: 240px;
	position: relative;
}
.main-back{
	max-width: 1900px;
	margin: 0 auto;
	position: relative;
}
.main-back:after{
	position: absolute;
	display: none;
	content: "";
	left:0;
	right: 0;
	bottom: 0px;
	height: 40px;
	z-index: 1;
	background: -moz-linear-gradient(top,  rgba(2,92,144,0) 0%, rgba(2,92,144,0) 78%, rgba(2,92,144,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,92,144,0)), color-stop(78%,rgba(2,92,144,0)), color-stop(100%,rgba(2,92,144,1)));
background: -webkit-linear-gradient(top,  rgba(2,92,144,0) 0%,rgba(2,92,144,0) 78%,rgba(2,92,144,1) 100%);
background: -o-linear-gradient(top,  rgba(2,92,144,0) 0%,rgba(2,92,144,0) 78%,rgba(2,92,144,1) 100%);
background: -ms-linear-gradient(top,  rgba(2,92,144,0) 0%,rgba(2,92,144,0) 78%,rgba(2,92,144,1) 100%);
background: linear-gradient(to bottom,  rgba(2,92,144,0) 0%,rgba(2,92,144,0) 78%,rgba(2,92,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00025c90', endColorstr='#025c90',GradientType=0 );

}
.main-back img{
	display: block;
	max-width: 1900px;
	width: 100%;
	height: auto;
}
.main-form{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 300px 0 0;
}
.sub-title{
	text-align: center;
}
.main-form .title{
	color:#fff;
	font: 43px 'Aven-Bold', sans-serif;
	text-transform: uppercase;
}
.main-form .sub-title{
	color:#fff;
	font: 17px/19px 'Aven-Regular', sans-serif;
}
#custom-form{
	width: 200px;
	margin: 15px auto 0;
}
#custom-form input{
	width: 100%;
}
.bottom-message{
	position: absolute;
	display: block;
	bottom: 10px;
	left: 0px;
	right: 0px;
    z-index: 4;
	margin: 0 auto;
	max-width: 1180px;
	text-align: center;
	color:#fff;
	font: 17px/19px 'Aven-Regular', sans-serif;
}
main .content{
	padding: 35px 0 20px;
}
.benefits.row{
	margin: 0;
	padding: 0 0 30px;
	position: relative;
	overflow: hidden;
}
.preview-block:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  z-index: -1;
  padding-left: 9999px;
  margin-left: -9999px;
  height: 100%;
  border-top: 1px solid #ebebeb;
}
.preview-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  z-index: -1;
  padding-right: 9999px;
  margin-right: -9999px;
  height: 100%;
  border-top: 1px solid #ebebeb;
}
.benefits .col-xs-4{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 35px;
}
.img-wrapper:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.benefits .img-wrapper {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	position: relative;
	border: 1px solid #777777;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.3s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.3s, background 0.2s;
	transition: transform ease-out 0.3s, background 0.2s;
}
.benefits .img-wrapper:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(161,161,161,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.benefits .item:hover .img-wrapper {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}
.benefits .item:hover .img-wrapper:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

.input-lg {
	border-radius: 0px;
}



@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(161,161,161,0.1), 0 0 10px 10px  #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(161,161,161,0.1), 0 0 10px 10px #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(161,161,161,0.1), 0 0 10px 10px #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(161,161,161,0.1), 0 0 10px 10px #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(161,161,161,0.3), 0 0 10px 10px #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(161,161,161,0.1), 0 0 10px 10px #b9b9b9, 0 0 0 10px rgba(161,161,161,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
.benefits .col-xs-4 .title{
	font:  17px/19px 'Aven-Demi', serif;
	color:#000;
	text-transform: uppercase;
	margin: 20px 0;
}
.benefits .col-xs-4 .img-wrapper img{
	position: absolute;
	display: block;
	top:50%;
	left:50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
}
.preview-info{
	font: 400 16px/19px 'Merriweather', serif;
	color:#777777;
}
.preview-block{
	padding: 30px 0;
	position: relative;
}
main .sub-title{
	font: 300 16px/19px 'Merriweather', serif;
	color:#777777;
	margin-bottom: 25px;
}
.sub-title a{
	color:#2196f3;
}
.gray{
	background: #ececec;
}
.slick-slide a{
	display: block;
}
.slick-slide img{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.content.support{
	  padding: 35px 0 0px;
}
.img-support{
	width: 650px;
	margin: 0 auto;
}
.img-support img{
	display: block;
	width: 100%;
}
.central-img {
	position: relative;
}
.central-img img.ipad{
	display: block;
	width: 80%;
    margin: 0 7% 0 13%;
	height: auto;
}
.central-img img.iphone{
	position: absolute;
	display: block;
	left:6%;
	height: 90%;
	width: auto;
	bottom: 0;
}
.image-block.row{
	margin: 0px;
}
.image-block .info-preview{
	padding:45px 0;
}
.image-block .info-preview .title{
	font: 17px/19px 'Aven-Demi', serif;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}
.image-block .info-preview  p{
	font: 300 14px/19px 'Merriweather', serif;
    color: #777777;
    margin: 0px;
}

/*Preloader*/
.preloader {
  background-color: #2c3e50;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden !important;
}
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -50px;

}
.text-logo {
  font-family: 'Aven-Demi',Arial,sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 21px;
  color: #ffffff;
}
.signal {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 30px;
    height: 30px;
    opacity: 0;
    width: 30px;
    margin-top: 20px;
    -webkit-animation: sonarEffect 1s ease-out;
 	   -moz-animation: sonarEffect 1s ease-out;
 			animation: sonarEffect 1s ease-out;
    -webkit-animation-iteration-count: infinite;
  	   -moz-animation-iteration-count: infinite;
  			animation-iteration-count: infinite;
}

/*End preloader*/

.main-form {
	padding-top: 240px
}
.sub-title {
    padding-top: 25px;
    font: 19px/23px 'Aven-Regular', sans-serif;
}

/**/
form.form-styles{
	margin: 15px auto 0;
    width: 65%;
}
form.form-styles:after{
	display: block;
	content: "";
	clear: both;
}
form .form-group {
    float: left;
    width: 80%;
    margin-bottom: 0px;
}
input.form-control{
	color: #2196f3;
}

.intl-tel-input input {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.btn.btn-color {
	float: right;
	width: 20%;
	text-align: center;
	display: block;
	padding: 0;
	border: none;
	background: #d3145a;
	border:0;
	color:#feffff;
	font: 22px/80px 'Aven-Demi', serif;
	text-transform: uppercase;
	/*border-radius:40px;*/
	-webkit-border-top-left-radius: 0px;
    /*-webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;*/
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    /*-moz-border-top-right-radius: 40px;
    -moz-border-bottom-right-radius: 40px;*/
    -moz-border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
/*    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;*/
    border-bottom-left-radius: 0px;
    outline:0;
    -webkit-transition:all .2s linear; 
      -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
    	-o-transition: all .2s linear;
           transition: all .2s linear;
}
.btn-color.btn:focus {
	outline:0;
	color: #feffff;
}
.btn-color.btn:active {
	outline:none;
}
.btn-color.btn:hover{
	background: #ae0442;
	color:#feffff;
	outline: 0;
}
/**/


footer{
	width: 100%;
	background: #1b2a42;
}
footer .content{
	padding: 90px 0 70px;
}
footer .content .row {
  margin-left: 0px;
  margin-right: 0px;
}
footer .content .title {
  font: 17px/19px 'Aven-Demi', serif;
  color: #fff;
  text-transform: none;
  margin: 0px 0 40px;
  text-align: left;
}
footer .row{
	margin-bottom: 50px;
}
footer .content ul{
	list-style: none;
	margin: 0 0 50px;
	padding: 0;
}

footer .content ul li{
	display: block;
	color: #dcdcdc;
}
footer .content ul li a{
    position: relative;
    display: inline-block;
  
}
footer .content ul li a:hover{
	text-decoration: none;
}
footer .content ul li a:after, footer .content ul li a:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #e7e8e9;
    -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
           transition: 0.2s ease all;
}
footer .content ul li a:before {
    left: 50%;
}
footer .content ul li a:after {
    right: 50%;
}
footer .content ul li a:hover:after, footer .content ul li a:hover:before {
    background: #dcdcdc;
    width: 50%;
}
footer .content ul li a{
	color: #dcdcdc;
}
footer .content ul.socials li{
	margin-bottom: 10px;
}
footer .content ul.socials li a{
	position: static;
	display: block;
	width: 34px;
	height: 34px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	text-align: center;
	background: #000;
}
footer .content ul.socials li a:after{
	display: none;
}
footer .content ul.socials li a:before{
	display: none;
}
footer .content ul.socials li a:hover{
	text-decoration: none;
}
footer .content ul.socials li a i{
	font-size: 20px;
	line-height: 34px;
	color: #1b2a42;
}

/**/

footer .content ul.socials li a:hover{
    margin: 0px;
    -webkit-animation-name: rotation;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
}
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
           -moz-transform:rotate(0deg);
             -o-transform:rotate(0deg);
                transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
             -moz-transform:rotate(360deg);
               -o-transform:rotate(360deg);
                  transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
           -moz-transform:rotate(0deg);
             -o-transform:rotate(0deg);
                transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
             -moz-transform:rotate(360deg);
               -o-transform:rotate(360deg);
                  transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
           -moz-transform:rotate(0deg);
             -o-transform:rotate(0deg);
                transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
             -moz-transform:rotate(360deg);
               -o-transform:rotate(360deg);
                  transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
           -moz-transform:rotate(0deg);
             -o-transform:rotate(0deg);
                transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
             -moz-transform:rotate(720deg);
               -o-transform:rotate(360deg);
                  transform:rotate(360deg);}
}
/**/

footer .row.bottom{
	margin-bottom: 0px;
}
footer .row.bottom .copy{
	color:#fff;
	font: 14px/29px 'Aven-Regular', sans-serif;
}
footer .row.bottom .logo-bottom{
	text-align: right;
}
footer .row.bottom .logo-bottom img{
	/*display: block;*/
	width: 130px;
}
@media screen and (min-width: 1100px) and (max-width: 1450px){
	.main-form{padding: 200px 0 0;}
}
@media screen and (min-width: 651px) and (max-width: 1099px){
	.main-form{padding: 140px 0 0;}
}
@media screen and (min-width: 900px) and (max-width: 1099px){
	.row .info-preview{padding: 25px 0;}
	.form-styles .intl-tel-input input{padding: 0px 16px 0 15%;}
}
@media screen and (min-width: 751px) and (max-width: 899px){
	.row .info-preview{padding: 12px 0;}
	.form-styles .intl-tel-input input{padding: 0px 16px 0 60px;}
}
@media screen and (max-width: 900px){
	.main-form .title{font-size: 20px;}
	.main-form .sub-title{font-size: 14px;}
}
@media screen and (min-width: 651px){
	.mobile-menu{display: block !important;}
}
@media screen and (max-width: 850px){
	.login-register{margin-left: 0px;}
}
@media screen and (min-width: 751px){
	.footer-column1, .footer-column2, .footer-column3, .footer-column4, .footer-column5{display: block !important;}
}
@media screen and (max-width: 750px){
	footer .row{margin-bottom: 0;}
	footer .row > div{float: none;width: 90%; margin: 0 auto;}
	footer .row .logo-bottom{float: none;width: 100%; margin: 0 auto;}
	footer .row .logo-bottom img{display:block;margin: 0 auto;}
	footer .content .title{text-align: center;cursor: pointer;}
	footer .content ul li a{display: block;text-align: center;}
	footer .content ul li{display: block;text-align: center;}
	footer .row.bottom > div{text-align: center; margin-bottom: 15px;}
	footer .row.bottom .copy{text-align: center;}
	.footer-column1, .footer-column2, .footer-column3, .footer-column4, .footer-column5{display: none;}
	footer .content ul li a:hover:after, footer .content ul li a:hover:before{width: 25%;}
	footer .content ul.socials{text-align: center;float: none;width: 90%;margin: 0 auto 20px;}
	footer .content ul.socials li{display: inline-block;vertical-align: top;margin: 0 8px 15px;}
	.image-block.row > div{float: none;width: 90%;margin: 0 auto 15px;}
	.image-block .info-preview {padding: 10px 0;}
	.image-block .info-preview .title{text-align: center;}
	.image-block .info-preview p{text-align: center;}
	.form-styles .intl-tel-input input{padding: 0px 16px 0 60px;}
}
@media screen  and (max-width: 650px){
	.main-form{padding: 91px 0 0;}
	.main-form .title{font-size: 16px;}
	.main-form .sub-title{font-size: 12px;}
	.img-support{width: 90%;}
}
@media screen and (max-width: 650px){
	.logo{float:none;}
	.logo img{margin: 0 auto;}
	.login-register{float: none;text-align: center;margin-left: 0px;}
	.top-header{padding-top: 10px;}
	.top-header nav{float:none;position: relative;}
	.mobile-menu{display: none;}
	.navigation{padding: 0;	background: #02437d;}
	.navigation li{display: block;border-bottom: 1px solid #fff;height: 20px;}
	.min-menu{display: block;outline: none;}
}
@media screen and (max-width: 560px){
	.form-styles .intl-tel-input input{height: 40px;}
	.form-group .intl-tel-input .flag-dropdown{top:6px;left: 5px;}
	.btn.btn-color{  font: 18px/40px 'Aven-Demi', serif;}
	.form-styles .intl-tel-input input{padding: 0px 16px 0 40px;}
	form.form-styles { margin: 0px auto;}
}
@media screen and (max-width: 480px){
	.main-back:after{display: block;}	
	.benefits .col-xs-4{float: none;width: 100%;}
}
@media screen and (max-width: 400px){
	.logo img{margin:0;}
}